body {
    background-color: #EBEFF3;
    margin: 0; padding: 0;
	font-family: Helvetica, Verdana, Arial, sans-serif;
}
td {
	vertical-align: top; text-align: left;
}
a {
    color: #39C; font-weight: bold;
    text-decoration: none;
}
a:hover {
    color: #669;
    text-decoration: underline;
}

/* To be applicable to both blocks and text. */
.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.underline {
	text-decoration: underline;
}
.small1 {
    font-size: 11px;
}
.small2 {
    font-size: 10px;
}
.small3 {
    font-size: 9px;
}
.currentPage {
	font-size: 120%;
	font-weight: bold;
}
table#mainFrame {
	margin: 0 auto; padding: 0; 
	width: 780px;
    border: 2px solid #000;
    background-color: #F2F7FB;
}
td#navBlock {
    width: 160px; height: 500px; 
    border-right: 2px solid #636;
}
#nav_spacer {
	width: 160px;
	border: 0;
	color: #FFF;
}
td#navBlock a {
    display: block; padding: 5px 25px 5px 5px;
    text-align: right; font-weight: bold;
    text-decoration: none; color: #036;
    border-bottom: 1px dotted silver;
}
div.inActiveLink {
    display: block; padding: 5px 25px 5px 5px;
    text-align: right; font-weight: bold;
    text-decoration: none; color: #666;
    border-bottom: 1px dotted red;
}
td#navBlock a:hover {
    color: #066; background-color: #BBB;
}
td#myContent {
	width: 614px; padding: 10px;
}
#content_spacer {
	width: 614px;
	border: 0;
	color: #FFF;
}
#searchHistory {
    font-size: 10px;
}
#copyRight {
    width: 100%; height: 15px; 
    background-color: silver; color: #369; 
    text-align: center; vertical-align: middle;
    font-size: 10px;
}
.categoryheader  {
    font-size: 110%; line-height: 12px;
    font-weight: bold; padding-bottom: 3px;
}
.btnBkd {
    background-color: #999; color: white; font-weight: bold;
}
a.selected {
	color: #6FF; background-color: #555;
}
a.selected:hover {
	text-decoration:underline;
}
.floatLft {
    float: left; padding-right: 10px;
}
.floatRght {
    float: right; padding-left: 10px;
}
.imgTypBlock {
    display: block; float: left; text-align: center;
    width: 135px; height: 190px;
    border: 1px dashed #CFD1E6;
}
.imgTypBlock:hover {
    background-color: #EED;
}
.imgTypBlock img {
    border: 0;
}
.moretic {
    width: 70px; height: 25px;
    float: right;
}
div.pullquote {
    float: right; width: 70px; 
    padding: 3px 3px; margin: 1px 7px;
    color: #900; text-align: center;
    border-width: 0;
    font: bold italic 1em Trebuchet, Trebuchet MS, Arial, Helvetica, Verdana, sans-serif;
}
UL  {
    list-style-type: disc; list-style: disc;
    padding: 0; margin: 0 0 1px 10px;
}
LI, dd  {
    padding: 0;
    margin-top: 0; margin-bottom: 0; margin-left: 10px;
}
table#wnContent {
    width: 590px; border: 3px solid #39C;
}
div.sideSubBox {
    float: right; width: 160px; background-color: #DDD;
    padding: 3px; margin-left: 10px; font-size: 11px;
}
.orderViewHeader {
	padding-bottom: 0; margin-bottom: 0;
}
.expiredIMG {
	border:red medium solid;
}
.errorSection,.messageSection {
	width:100%;
}
.errorSection .message
{
	color: #aa0000;
	font-weight:bold;
	font-size:110%;
}
.messageSection .message {
	color: #880000;
	font-weight:bold;
	font-size:110%;
}
#emailDownloadLinkForm {
	font-size:90%;
	padding: 1em 3em;
}
.input {
	font-weight:bold;
}