@import "/lazerweb/gwt.css";

body {
    background:#779 none repeat scroll 0% 50%;
    font-family:Arial,Helvetica,sans-serif;
    font-size:9pt;
    font-size-adjust:none;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:normal;
    color:#eeeeee;
			}

.required{
    color: #f84;
    padding: 5px;
} 

	.label {
		font-size: 105%;
	}
	.header {
		font-size: 110%;
	}
			
			table {
				font-size:9pt;
			}
			
			.popup-info {
				color:#cc5555;				
			}
			
			.popup-info table{
				color:#cc5555;				
			}
			
			.odd {
				background: #eef;
				color:#000;
			}
			
			.even {
				background: #200066;
			}
			
			.number-selector .cells td {
                border-right:1px solid black;
                border-left:0px solid black;
			}
			
			.number-selector td {
                color:#ffffff;
                font-size:100%;
                font-weight:bold;
                padding:2px 1em;
            }
            
            .number-selector td div {
                padding:2px;
                cursor:pointer;
            }
           
			.number-selector td .clicked {
                background-color:#ffffff;
                color:#000000;
            } 	

			.ie6 .thumbnail img {
				border:medium solid #DDE;
			}
			
			.image-viewer {
				background:#eee;
				color:#000;
				text-align:left;
			}
			
			.south-cart td {
				padding:0px .25em;
				color:#000;	
			}
			
			.south-cart td td {
				padding: 0px 0px;
				margin:0px;
			}
			
			.south-cart {
				background:#eee;
				color:#000;
				text-align:left;
				margin-top:0px;
				margin-left:1em;
				margin-right:4em;
				margin-bottom:0px;
			}
			
			.image-viewer table {
				padding:0px 1em;	
				color:#000;		
			}
			
			.image-viewer table td {
				padding-top:1px;	
				padding-bottom:1px;
			}
			.ie6 .south .toolbar img {
				border: 3px solid #BBC;
			}
			.ie6 .toolbar img {
				border: 3px solid #EBEFF3;
			}
			
			.center {
				padding:0px;
			}
			
			.west {
			}
			
			.results-view .header {
				font-size:140%;
				font-weight:bold;
				text-align: center;
				padding:4px 4px 4px 1px;
			}

			.toolbar img.mouse {
				border: 3px outset #444;
			}
			
			.south {
				border-top:thin solid black;
				padding-left:2em;
				padding-top:.5em;
				margin:0px;
				background:#BBC;
			}
						
			.toolbar img {
				border:2px solid transparent;
			}
			
			.toolbar img.mouse {
				border:2px solid #ccc;
			}
			
			.toolbar table {
				padding:0px;
			}		
			
			.product-popup {
				border:thin solid black;
				background:#eee;
				color:#200066;				
				padding:.5em;
			}		
			
			.product-popup .title {
				margin-bottom:.5em;
			}
			
			.product-popup table {
				color:#000;
			}
			
			.selected-checkbox {
				background:#200066;
				color:#FFD155;
			}
			
			.gwt-TabBarItem {
				background:#200066;
				color : #ccc;
				border-top:medium outset #445;
				border-left:medium outset #445;
				border-right:medium outset #445;
			}
			
			.gwt-TabBarItem-selected {
				background:#200066;
				color:#FFD155;
				border-top:medium inset #223;
				border-left:medium inset #223;
				border-right:medium inset #223;
			}
			
			.page-title {
				font-size:140%;
				padding-left:1em;
			}
			
			.gwt-MenuItem {
				background:#200066;
				color:#FFF;
				font-size:0.85em;
			}	
			.gwt-TreeItem {
				font-size:0.85em;
			}
			.gwt-TreeItem img{
				padding:2px 3px 3px 3px;
			}
			.gwt-TreeItem-selected {
				background: transparent;
				color:#FFD155;
			}			
			
			.gwt-MenuItem-selected {
				background: #55a;
				color:#fff;
			}		
			
			.gwt-MenuItem-selected a {
				background: #55a;
				color:#fff;
			}
			
.gwt-MenuBar {
    background:#200066 none repeat scroll 0%;
    padding-top: 5px; padding-bottom: 0;
    border:0px none;
    color:#FFD155;
}
.ie .gwt-MenuBar {
	padding-top: 13px;
}
			
			.top-menu {
				background:#200066;
				color:#FFD155;
				border:none;
				font-size:130%;
				padding:1em 0 0 0;
				vertical-align: bottom;
			}
			
			.top-menu .gwt-MenuItem {
				padding: 3px 7px 0 7px;
				font-size:110%;
				color: #FFF;
				border-color: #FFF;
				border-style: solid;
				border-width: 0 1px 0 0;
			}
			.top-menu .gwt-Image {
				margin-top: -8px;
			}
			.ie .top-menu .gwt-Image {
				margin-top: 0;
			}
			.top-div {
				background:#200066;
				color:#FFD155;
				width:100%;
			}
.top-div img
{
	padding-bottom:5px;
}
			
.download-link a{
	color:#FFD155;
	font-size: 0.8em;
	font-weight: 800;
}
			
			.linked {
				color:#FFD155;
			}
.search-filters {
	font-size:90%;
}
			
.search-filters input
{
	font-size:90%;
}

.search-filters select {
	 font-size:90%;
}

.gwt-Label {
	margin-left: -1px;
	font-size: 85%;
}
	.support-panel {
	background:#bbc;
	}	
			